
<mat-toolbar color="primary">
  <button class="" type="button" aria-label="Toggle sidenav" mat-icon-button matBadge="7" [matBadgeHidden]="false" matBadgeColor="warn" (click)="drawer1.toggle()">
    <mat-icon aria-label="Side nav toggle icon">messages</mat-icon>
  </button>
  <div>CryptoChat</div>
  <div>
    <button type="button" aria-label="Toggle sidenav" [matMenuTriggerFor]="menu" mat-icon-button  >
      <mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Edit my account</button>
      <button mat-menu-item>Log out</button>
    </mat-menu>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer2.toggle()">
      <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer1 position="start" class="sidenav navleft" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button mat-icon-button (click)="refresh()"><mat-icon>add</mat-icon></button>
      <div>Chats</div>
      <button mat-icon-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let chat of chatList" (click)="onChatSelected(chat)">{{chat.Name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #drawer2 position="end" class="sidenav navright" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div>Settings</div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let chat of chatList" (click)="onChatSelected(chat)">{{chat.Name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <section>
    <app-chat [Chat]="selectedChat" />
  </section>
</mat-sidenav-container>