.sidenav-container {
  height: -webkit-fill-available;
}

.sidenav {
  width: 200px;
  margin-top: 7vh;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  justify-content: space-between;
  height: 7vh;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

section {
  height: -webkit-fill-available;
}

