<app-toolbar/>
<mat-sidenav-container class="side-container" autosize>
    <mat-sidenav #sidenav mode="side" opened>
        <div class="side-header">
            <div>CHATS</div>
            <button mat-icon-button id="refreshButton" (click)="refresh()" fontIcon="refresh">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <app-chat-list [chatList]="chatList" (chatSelected)="onChatSelected($event)"/>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-chat [Chat]="selectedChat"/>
    </mat-sidenav-content>
</mat-sidenav-container>