<div class="chat-container" *ngIf="Chat.Name!=''">
    <div class="chat-header">
        <div class="chat-name">{{ Chat.Name}}</div>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="Created by {{Chat.Creator.Username}}."
            matTooltipPosition="left" matTooltipHideDelay="100000"
            class="chat-info">
            <mat-icon>information</mat-icon>
        </button>
    </div>
    <ul class="chat-messages" *ngIf="Chat.Messages.length > 0">
        <li *ngFor="let message of Chat.Messages">{{ message }}</li>
    </ul>

    <div class="chat-form">
        <textarea [(ngModel)]="newMessage.Content" placeholder="Type your message here..."></textarea>
        <button mat-icon-button (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>