<div class="chat-container"  *ngIf="Chat.Name!=''">
    <ul class="message-list">
        <li *ngFor="let message of Chat.Messages">{{ message }}</li>
    </ul>
    <button mat-raised-button #tooltip="matTooltip"
        matTooltip="Created by {{Chat.Creator}}."
        matTooltipPosition="left"
        matTooltipHideDelay="100000"
        aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        class="example-button">
        I
    </button>
    <div *ngIf="complementaryState" class="complementary-info">
        <p>Created by {{ Chat.Creator}}.</p>

    </div>
    <div class="form-group">
        <label for="content">Message:</label>
        <textarea id="content" [(ngModel)]="newMessage.Content" placeholder="Type your message here..."></textarea>
      </div>
      <button (click)="sendMessage()">Send</button>
</div>